# kai-sami — fragmento
# NEXTAUTH_* ← SAMI_NEXTAUTH_* | NEXT_PUBLIC_COMPANY_ID ← NEXT_PUBLIC_COMPANY_ID_SAMI

NODE_ENV=development
BACKEND_API_URL=http://localhost:5050
NEXTAUTH_URL=
NEXTAUTH_SECRET=

NEXT_PUBLIC_APP_NAME=Kai SaMI
NEXT_PUBLIC_COMPANY_ID=

NEXT_PUBLIC_SW_DEV=1
