# pwa-stock — fragmento
# NEXTAUTH_* ← STOCK_NEXTAUTH_* | NEXT_PUBLIC_COMPANY_ID ← NEXT_PUBLIC_COMPANY_ID_STOCK

NODE_ENV=development
BACKEND_API_URL=http://localhost:5030
NEXTAUTH_URL=
NEXTAUTH_SECRET=

NEXT_PUBLIC_APP_NAME=KaiStore StockControl
NEXT_PUBLIC_COMPANY_ID=
