BACKEND_API_URL=http://localhost:4030
NEXTAUTH_URL=http://localhost:5033
NEXTAUTH_SECRET=dev-stock-secret-change-me
NEXT_PUBLIC_APP_NAME=KaiStore StockControl
NEXT_PUBLIC_COMPANY_ID=5c70a591-b2b6-4f84-9775-39149bbebb45
